<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head content="A"> 
        <meta charset="utf-8"> 
        <title>Graphic Hex - CRM Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content=" bootstrap,graphic,hex" />
        <meta name="description" content="CRM" />
        <link rel="shortcut icon" href="ico/favicon.png"> 
        <!-- Core CSS -->         
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->         
        <link href="css/style-library-1.css" rel="stylesheet">
        <link href="css/plugins.css" rel="stylesheet">
        <link href="css/blocks.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <link href="css/navigations.css" rel="stylesheet">
        <link href="css/checkbox.css" rel="stylesheet">
        <link href="css/accordion.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->         
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->         
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic">
        <meta name="author" content="Abdulrahman Khaled">
    </head>     
    <body data-spy="scroll" data-target="#bs-sidebar-navbar-collapse-1" style="background-color:#edeff9">
        <header id="sidebar">
            <div class="l-sidebar" id="side">
                <div class="logo ">
                    <div class="logo__txt ">
                        <a href="#">
                            <img src="images/icons/01_icon.png" class="img-responsive hamburger-toggle js-hamburger" />
                        </a>
                    </div>
                </div>
                <div class="l-sidebar__content">
                    <nav class="c-menu js-menu">
                        <ul class="u-list">
                            <li class="c-menu__item" data-toggle="tooltip" title="Dashboard">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-dashboard"></i>
                                    <div class="c-menu-item__title">
                                        <span>Dashboard</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu is-active" data-toggle="tooltip" title="Contacts">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-book"></i>
                                    <div class="c-menu-item__title">
                                        <span>Contacts</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Leads">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-bullseye"></i>
                                    <div class="c-menu-item__title">
                                        <span>Leads</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Customers">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-group"></i>
                                    <div class="c-menu-item__title">
                                        <span>Customers</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Projects">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-desktop"></i>
                                    <div class="c-menu-item__title">
                                        <span>Projects</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Invoices">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-file-text-o"></i>
                                    <div class="c-menu-item__title">
                                        <span>Invoices</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Sales">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-line-chart"></i>
                                    <div class="c-menu-item__title">
                                        <span>Sales</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Accountants">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-pie-chart"></i>
                                    <div class="c-menu-item__title">
                                        <span>Accountants</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Teams">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-user-plus"></i>
                                    <div class="c-menu-item__title">
                                        <span>Teams</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Calendar">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-calendar"></i>
                                    <div class="c-menu-item__title">
                                        <span>Calendar</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <header id="topbar">
    <nav class="navbar navbar-default" role="navigation"> 
        <div class="container-fluid"> 
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                    <span class="sr-only">Toggle navigation</span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </button>                 
            </div>             
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1"> 
                <ul class="nav navbar-nav" id="left-nav-bar-section"> 
                    <li>
                        <div class="input-group"> 
                            <span class="input-group-addon bg-transparent navbar-search-span"><i class="fa fa-search search-input"></i></span> 
                            <input type="text" class="form-control navbar-input-search" placeholder="Type to Search..."> 
                        </div>
                    </li>                     
                </ul>
                <ul class="nav navbar-nav navbar-right margin-top0"> 
                    <li class="margin-top10">
                        <a href="#"><i class="fa fa-clock-o"></i></a>
                    </li>
                    <li class="margin-top10">
                        <a href="#"><i class="fa fa-bell"></i><span class="notification-span">2</span></a>
                    </li>                     
                    <li class="dropdown pad0"> 
                        <a href="#" class="dropdown-toggle pad-bottom0 margin-top5" data-toggle="dropdown">
                            <span class="top-bar-username">Eman Tawfik </span>
                            <img scr="" src="images/profile-picutre/01_img.png" class="navbar-profile-picture"> 
                            <b class="caret"></b>
                        </a>                         
                        <ul class="dropdown-menu"> 
                            <li>
                                <a href="#">Action</a>
                            </li>                             
                            <li>
                                <a href="#">Another action</a>
                            </li>                             
                            <li>
                                <a href="#">Something else here</a>
                            </li>                             
                            <li class="divider"></li>                             
                            <li>
                                <a href="#">Separated link</a>
                            </li>                             
                            <li class="divider"></li>                             
                            <li>
                                <a href="#">One more separated link</a>
                            </li>                             
                        </ul>                         
                    </li>                     
                </ul>                 
            </div>             
        </div>         
    </nav>
</header>
        <main id="main">
            <section id="add-contact" class="pad10">
                <div class="container">
                    <div class="row margin-top20">
                        <div class="col-md-2 col-xs-12">
                            <h3 class="section-title contacts-section-title">Contacts </h3> 
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="row">
                                <div class="col-md-3 col-xs-4">
                                    <h3 class="section-details pad10">Total: <span>3520</span> </h3> 
                                </div>
                                <div class="col-md-4 sort-col col-xs-4">
                                    <h3 class="section-details margin-top15">Sort by: <span class="black"><div class="btn-group margin-top0 pad0"> 
                                                <button type="button" class="btn dropdown-toggle btn-sm sort-by-dropdown-btn" data-toggle="dropdown">Name 
                                                    <span class="caret section-details"></span>
                                                </button>                                                 
                                                <ul class="dropdown-menu contact-dropdown pull-left" role="menu"> 
                                                    <li>
                                                        <a href="#">Name</a>
                                                    </li>                                                     
                                                    <li>
                                                        <a href="#">Date Created</a>
                                                    </li>                                                     
                                                </ul>                                                 
                                            </div></span> </h3> 
                                </div>
                                <div class="col-md-3 contact-edit-col col-xs-4">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-4">
                                            <button type="button" class="btn btn-sm edit-btn text-center">
                                                <i class="fa fa-long-arrow-up"></i>
                                            </button>                                             
                                        </div>
                                        <div class="col-xs-4 col-md-6">
                                            <button type="button" class="btn btn-sm edit-btn text-center">
                                                <i class="fa fa-trash"></i>
                                            </button>                                             
                                        </div>
                                    </div>                                     
                                </div>
                            </div>                             
                        </div>
                        <div class="col-md-4 col-md-offset-1 text-right col-xs-11">
                            <button type="button" class="btn btn-white-blue">
                                <i class="fa fa-filter"></i>Filter
                            </button>
                            <button type="button" class="btn btn-blue margin-left-10">
                                <span>+ </span>Add Contact
                            </button>
                            <div class="btn-group"> 
                                <button type="button" class="btn btn-sm edit-btn text-center margin-left-10 dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>                                 
                                <ul class="dropdown-menu contact-dropdown pull-right" role="menu"> 
                                    <li>
                                        <a href="#">Import Contacts</a>
                                    </li>                                     
                                    <li>
                                        <a href="#">Add Dashlet</a>
                                    </li>                                     
                                </ul>                                 
                            </div>                             
                        </div>
                    </div>
                    <div class="row margin-top15">
                        <div class="col-md-12">
                            <div class="row margin-bottom10">
                                <div class="col-md-1  text-center checkbox-col col-xs-1">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
</label>
                                    </div>                                     
                                </div>
                                <div class="contact-list-view-col-categ col-md-3 col-xs-2">
                                    <h3 class="contact-list-view-column-categ margin-top10">Basic Info</h3> 
                                </div>
                                <div class="contact-list-view-col-categ col-md-2 col-xs-2">
                                    <h3 class="contact-list-view-column-categ margin-top10">Phone</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-left col-md-2 col-xs-2">
                                    <h3 class="contact-list-view-column-categ margin-top10">Title</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-left col-md-1 col-xs-3">
                                    <h3 class="contact-list-view-column-categ margin-top10">Company</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-left col-xs-2 col-md-1">
                                    <h3 class="contact-list-view-column-categ margin-top10">Country</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-left col-xs-2 col-md-1">
                                    <h3 class="contact-list-view-column-categ margin-top10">City</h3> 
                                </div>
                                <div class="contact-list-view-col-categ col-md-1 col-xs-12 hidden-xs">
                                    <button type="button" class="btn navigation-btn margin-top5">
                                        <i class="fa fa-caret-left"></i>
                                    </button>
                                    <button type="button" class="btn navigation-btn margin-top5">
                                        <i class="fa fa-caret-right"></i>
                                    </button>                                     
                                </div>
                            </div>
                            <div class="row margin-bottom10 contacts-list-view-card pad15 pad-bottom5">
                                <div class="col-md-1  text-center checkbox-col col-xs-1 pad5">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3">
</label>
                                    </div>                                     
                                </div>
                                <div class="contact-list-view-col-categ col-xs-3 col-md-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/profile-picutre/02_img.png" class="img-responsive contact-view-pp" /> 
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="contact-name margin-bottom0 margin-top5">Omar Sherif</h3>
                                            <span class="contact-view-email margin-top0 margin-bottom0">omar@gmail.com</span> 
                                        </div>
                                    </div>                                     
                                </div>
                                <div class="contact-list-view-col-categ col-md-2 pad10 col-xs-3">
                                    <h3 class="contact-list-view-column-categ margin-top10 contact-details-view">+20 35248789</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-center pad10 col-xs-3 col-md-2">
                                    <h3 class="margin-top10 contact-details-view text-left">Marketing Manager</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Vodafone</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Egypt</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Cairo</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-center col-md-1 col-xs-12 hidden-xs"> 
                                    <div class="no-shadow btn-group" data-toggle="dropdown"> 
                                        <button type="button" class="btn btn-sm edit-btn text-center margin-left-10 dropdown-toggle contact-edit-dots-shdw pad0" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-h fa-lg edit-btn-contact-ico-color"></i>
                                        </button>                                         
                                        <ul class="dropdown-menu contact-dropdown pull-right" role="menu"> 
                                            <li>
                                                <a href="#">Edit</a>
                                            </li>                                             
                                            <li>
                                                <a href="#">Delete</a>
                                            </li>                                             
                                        </ul>                                         
                                    </div>
                                </div>
                            </div>
                            <div class="row contacts-list-view-card pad15 pad-bottom5 margin-bottom10">
                                <div class="col-md-1  text-center checkbox-col col-xs-1 pad5">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3">
</label>
                                    </div>                                     
                                </div>
                                <div class="contact-list-view-col-categ col-xs-3 col-md-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/profile-picutre/03_img.png" class="img-responsive contact-view-pp" /> 
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="contact-name margin-bottom0 margin-top5">Sarah Sherif</h3>
                                            <span class="contact-view-email margin-top0 margin-bottom0">omar@gmail.com</span> 
                                        </div>
                                    </div>                                     
                                </div>
                                <div class="contact-list-view-col-categ col-md-2 pad10 col-xs-3">
                                    <h3 class="contact-list-view-column-categ margin-top10 contact-details-view">+20 35248789</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-center pad10 col-xs-3 col-md-2">
                                    <h3 class="margin-top10 contact-details-view text-left">Marketing Manager</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Vodafone</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Egypt</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Cairo</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-center col-md-1 col-xs-12 hidden-xs"> 
                                    <div class="no-shadow btn-group" data-toggle="dropdown"> 
                                        <button type="button" class="btn btn-sm edit-btn text-center margin-left-10 dropdown-toggle contact-edit-dots-shdw pad0" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-h fa-lg edit-btn-contact-ico-color"></i>
                                        </button>                                         
                                        <ul class="dropdown-menu contact-dropdown pull-right" role="menu"> 
                                            <li>
                                                <a href="#">Edit</a>
                                            </li>                                             
                                            <li>
                                                <a href="#">Delete</a>
                                            </li>                                             
                                        </ul>                                         
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom10 contacts-list-view-card pad15 pad-bottom5">
                                <div class="col-md-1  text-center checkbox-col col-xs-1 pad5">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3">
</label>
                                    </div>                                     
                                </div>
                                <div class="contact-list-view-col-categ col-xs-3 col-md-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/profile-picutre/04_img.png" class="img-responsive contact-view-pp" /> 
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="contact-name margin-bottom0 margin-top5">Yasser Nader</h3>
                                            <span class="contact-view-email margin-top0 margin-bottom0">omar@gmail.com</span> 
                                        </div>
                                    </div>                                     
                                </div>
                                <div class="contact-list-view-col-categ col-md-2 pad10 col-xs-3">
                                    <h3 class="contact-list-view-column-categ margin-top10 contact-details-view">+20 35248789</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-center pad10 col-xs-3 col-md-2">
                                    <h3 class="margin-top10 contact-details-view text-left">Marketing Manager</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Vodafone</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Egypt</h3> 
                                </div>
                                <div class="contact-list-view-col-categ pad10 text-left col-xs-2 col-md-1">
                                    <h3 class="margin-top10 contact-details-view">Cairo</h3> 
                                </div>
                                <div class="contact-list-view-col-categ text-center col-md-1 col-xs-12 hidden-xs"> 
                                    <div class="no-shadow btn-group" data-toggle="dropdown"> 
                                        <button type="button" class="btn btn-sm edit-btn text-center margin-left-10 dropdown-toggle contact-edit-dots-shdw pad0" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-h fa-lg edit-btn-contact-ico-color"></i>
                                        </button>                                         
                                        <ul class="dropdown-menu contact-dropdown pull-right" role="menu"> 
                                            <li>
                                                <a href="#">Edit</a>
                                            </li>                                             
                                            <li>
                                                <a href="#">Delete</a>
                                            </li>                                             
                                        </ul>                                         
                                    </div>
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>         
        <script type="text/javascript" src="js/bootstrap.min.js"></script>         
        <script type="text/javascript" src="js/plugins.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/bskit-scripts.js"></script>         
        <script type="text/javascript" src="js/scripts.js"></script>         
    </body>     
</html>
