<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head content="A"> 
        <meta charset="utf-8"> 
        <title>Graphic Hex - CRM Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content=" bootstrap,graphic,hex" />
        <meta name="description" content="CRM" />
        <link rel="shortcut icon" href="ico/favicon.png"> 
        <!-- Core CSS -->         
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->         
        <link href="css/style-library-1.css" rel="stylesheet">
        <link href="css/plugins.css" rel="stylesheet">
        <link href="css/blocks.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <link href="css/navigations.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->         
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->         
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic">
        <meta name="author" content="Abdulrahman Khaled">
    </head>     
    <body data-spy="scroll" data-target="#bs-sidebar-navbar-collapse-1">
        <header id="sidebar">
            <div class="l-sidebar" id="side">
                <div class="logo ">
                    <div class="logo__txt ">
                        <a href="#">
                            <img src="images/icons/01_icon.png" class="img-responsive hamburger-toggle js-hamburger" />
                        </a>
                    </div>
                </div>
                <div class="l-sidebar__content">
                    <nav class="c-menu js-menu">
                        <ul class="u-list">
                            <li class="c-menu__item" data-toggle="tooltip" title="Dashboard">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-dashboard"></i>
                                    <div class="c-menu-item__title">
                                        <span>Dashboard</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Contacts">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-book"></i>
                                    <div class="c-menu-item__title">
                                        <span>Contacts</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu is-active" data-toggle="tooltip" title="Leads">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-bullseye"></i>
                                    <div class="c-menu-item__title">
                                        <span>Leads</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Customers">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-group"></i>
                                    <div class="c-menu-item__title">
                                        <span>Customers</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Projects">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-desktop"></i>
                                    <div class="c-menu-item__title">
                                        <span>Projects</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Invoices">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-file-text-o"></i>
                                    <div class="c-menu-item__title">
                                        <span>Invoices</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Sales">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-line-chart"></i>
                                    <div class="c-menu-item__title">
                                        <span>Sales</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Accountants">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-pie-chart"></i>
                                    <div class="c-menu-item__title">
                                        <span>Accountants</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Teams">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-user-plus"></i>
                                    <div class="c-menu-item__title">
                                        <span>Teams</span>
                                    </div>
                                </div>
                            </li>
                            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Calendar">
                                <div class="c-menu__item__inner">
                                    <i class="fa fa-calendar"></i>
                                    <div class="c-menu-item__title">
                                        <span>Calendar</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <header id="topbar">
    <nav class="navbar navbar-default" role="navigation"> 
        <div class="container-fluid"> 
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                    <span class="sr-only">Toggle navigation</span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </button>                 
            </div>             
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1"> 
                <ul class="nav navbar-nav" id="left-nav-bar-section"> 
                    <li>
                        <div class="input-group"> 
                            <span class="input-group-addon bg-transparent navbar-search-span"><i class="fa fa-search search-input"></i></span> 
                            <input type="text" class="form-control navbar-input-search" placeholder="Type to Search..."> 
                        </div>
                    </li>                     
                </ul>
                <ul class="nav navbar-nav navbar-right margin-top0"> 
                    <li class="margin-top10">
                        <a href="#"><i class="fa fa-clock-o"></i></a>
                    </li>
                    <li class="margin-top10">
                        <a href="#"><i class="fa fa-bell"></i><span class="notification-span">2</span></a>
                    </li>                     
                    <li class="dropdown pad0"> 
                        <a href="#" class="dropdown-toggle pad-bottom0 margin-top5" data-toggle="dropdown">
                            <span class="top-bar-username">Eman Tawfik </span>
                            <img scr="" src="images/profile-picutre/01_img.png" class="navbar-profile-picture"> 
                            <b class="caret"></b>
                        </a>                         
                        <ul class="dropdown-menu"> 
                            <li>
                                <a href="#">Action</a>
                            </li>                             
                            <li>
                                <a href="#">Another action</a>
                            </li>                             
                            <li>
                                <a href="#">Something else here</a>
                            </li>                             
                            <li class="divider"></li>                             
                            <li>
                                <a href="#">Separated link</a>
                            </li>                             
                            <li class="divider"></li>                             
                            <li>
                                <a href="#">One more separated link</a>
                            </li>                             
                        </ul>                         
                    </li>                     
                </ul>                 
            </div>             
        </div>         
    </nav>
</header>
        <main id="main">
            <section id="add-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <h3 class="section-title">Add Lead</h3> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="secondry-title">Contact Info.</h3> 
                        </div>
                        <div class="col-md-3">
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">First Name</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Email Address</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>                             
                        </div>
                        <div class="col-md-3">
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Second Name</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Phone Number</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>                             
                        </div>
                        <div class="col-md-3">
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Picture</label>
                                <input type="file" class="form-control input-file-mod hidden" required>
                                <img src="images/fields/01_picture.png" class="img-responsive input-file-custom" onclick="$('.input-file-mod').click();" />
                            </div>                             
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="secondry-title">Other Info.</h3> 
                        </div>
                        <div class="col-md-3">
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Title</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">City</label>
                                <select type="text" class="form-control" id="formInput25"> 
                                    <option value="value">Name</option>
                                    <option value="value">Name</option>
                                </select>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Address</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Status</label>
                                <select type="text" class="form-control" id="formInput25"> 
                                    <option value="value">Name</option>
                                    <option value="value">Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Company</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Country</label>
                                <select type="text" class="form-control" id="formInput25"> 
                                    <option value="value">Name</option>
                                </select>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Source</label>
                                <select type="text" class="form-control" id="formInput25"> 
                                    <option value="value">Name</option>
                                </select>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Sales Agent</label>
                                <select type="text" class="form-control" id="formInput25"> 
                                    <option value="value">Name</option>
                                </select>
                            </div>                             
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Tags</label>
                                <input type="text" class="form-control" id="formInput25" required>
                            </div>
                            <div class="form-group margin-bottom20"> 
                                <label class="control-label" for="formInput25">Notes</label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>                             
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-4">
                            <button type="button" class="btn primary-btn">Save</button>                             
                        </div>
                        <div class="col-md-1 col-xs-4">
                            <button type="button" class="btn cancel-btn">Cancel</button>                             
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>         
        <script type="text/javascript" src="js/bootstrap.min.js"></script>         
        <script type="text/javascript" src="js/plugins.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/bskit-scripts.js"></script>         
        <script type="text/javascript" src="js/scripts.js"></script>         
    </body>     
</html>
